#square {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    left: 0;
    top: 400;
  }

  #triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent; 
    border-right: 100px solid transparent;  
    border-bottom: 100px solid green; 
    position: absolute;
    left: 600;
    top: 600;
  }

  .stuff{
    background: blue;
    color:white;
  }

  #third{
    background: green;
    color:white;
  }

  body{
      background-color: burlywood;
  }